@tailwind base;
@tailwind components;
@tailwind utilities;


.flexs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}
.border{
    font-size: 15px;
    padding:0.4rem;
    border-radius: 5px;
    border: 0.2px solid black;
}
.flex2{
    padding: 2px;
    border-radius: 5px;
    width: 200px;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 4px;
}
.goal_circle{
    border-radius: 50%;
    width: 180px;
    height: 180px;
}
.goal_circle2{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.userData_info{
    margin-top: 10px;
}
.gaps{
    gap: 0.5rem;
    padding-top: 0.8rem;
}
.buttons{
    background-color: rgb(18, 179, 18);
    padding: 0.2rem 0.7rem;
    border-radius: 5px;
    /* border: 1px solid black; */
    margin-top: 2rem;
}
.profile_zoom{
    font-size: 16px;
}
.profile_zoom:hover{
    transition: 0.2s;
    font-size: 17px;
    background-color: #1f2937;
}
.apply-leave:hover{
    transform: scale(1.01);
}
.edit_btn{
    display: flex;
    flex-direction: row;
    background-color: rgb(208, 137, 6);
    padding: 5px 10px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: bold;
}
/* .upload_btn{
    border-radius: 5px;
    padding: 0.2rem;
    cursor: pointer;
    background-color: rgb(247, 247, 199);
} */